In [1]:
%%html
<link rel="stylesheet" href="./css/styles.css">

<div id='introduction' class='my-background'>
    <h1>
        DriveThruDigest:
    </h1>
    <h2>
        Navigating the Caloric Landscape
    </h2>
    <p>
    Here we are analyzing the dataset and looking for anything weird. Weird as in duplicates, null values and empty strings.
    </p>
</div>

<div class= work_area>
    <h1>
        Imports
    </h1>
</div>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import os 
import warnings

warnings.filterwarnings('ignore')
warnings.filterwarnings(action='ignore', category=FutureWarning)

<div class='work_area'>
        <h1>
        Importing our dataset
        </h1>
</div>

In [3]:
data = pd.read_csv('FastFoodNutritionMenu.csv')

<div class='work_area'>
    <h1>
        Data at first glance
        </h1>
    <h3>
        Lets check out what our data looks like! 
    </h3>
 </div>

In [4]:
print(f'Our data has {data.shape[0]} observations,\n')
print(f'and {data.shape[1]} features/columns.')
print(f'The first 5 observations are:\n')
data.head()

Our data has 1159 observations,

and 14 features/columns.
The first 5 observations are:

,Company,Item,Calories,Calories from\nFat,Total Fat\n(g),Saturated Fat\n(g),Trans Fat\n(g),Cholesterol\n(mg),Sodium \n(mg),Carbs\n(g),Fiber\n(g),Sugars\n(g),Protein\n(g),Weight Watchers\nPnts
0,McDonald’s,Hamburger,250,80,9,3.5,0.5,25,520,31,2,6,12,247.5
1,McDonald’s,Cheeseburger,300,110,12,6,0.5,40,750,33,2,6,15,297
2,McDonald’s,Double Cheeseburger,440,210,23,11,1.5,80,1150,34,2,7,25,433
3,McDonald’s,McDouble,390,170,19,8,1,65,920,33,2,7,22,383
4,McDonald’s,Quarter Pounder® with Cheese,510,230,26,12,1.5,90,1190,40,3,9,29,502

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1159 entries, 0 to 1158
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Company               1159 non-null   object
 1   Item                  1159 non-null   object
 2   Calories              1157 non-null   object
 3   Calories from
Fat     1098 non-null   object
 4   Total Fat
(g)         1101 non-null   object
 5   Saturated Fat
(g)     1101 non-null   object
 6   Trans Fat
(g)         1101 non-null   object
 7   Cholesterol
(mg)      1157 non-null   object
 8   Sodium
(mg)          1157 non-null   object
 9   Carbs
(g)             1101 non-null   object
 10  Fiber
(g)             1101 non-null   object
 11  Sugars
(g)            1157 non-null   object
 12  Protein
(g)           1027 non-null   object
 13  Weight Watchers
Pnts  524 non-null    object
dtypes: object(14)
memory usage: 126.9+ KB

<div class='summary_of_work'>
    <h2>
        Key Takeaways:
    </h2>
    <p>
        Some key takeaways from the 'Getting to know our data' is that the column names are gonna be to be change to something 
        Pythonic. Our dataset is made up of 1,152 observations/rows and made up of 13 features/columns.
    </p>

</div>

<div class='work_area'>
    <h1>
        Standardizing the strings
        </h1>
    <h3>
        We are going to make our columns and values more pythonic.
    </h3>
 </div>

In [6]:
data.head()

,Company,Item,Calories,Calories from\nFat,Total Fat\n(g),Saturated Fat\n(g),Trans Fat\n(g),Cholesterol\n(mg),Sodium \n(mg),Carbs\n(g),Fiber\n(g),Sugars\n(g),Protein\n(g),Weight Watchers\nPnts
0,McDonald’s,Hamburger,250,80,9,3.5,0.5,25,520,31,2,6,12,247.5
1,McDonald’s,Cheeseburger,300,110,12,6,0.5,40,750,33,2,6,15,297
2,McDonald’s,Double Cheeseburger,440,210,23,11,1.5,80,1150,34,2,7,25,433
3,McDonald’s,McDouble,390,170,19,8,1,65,920,33,2,7,22,383
4,McDonald’s,Quarter Pounder® with Cheese,510,230,26,12,1.5,90,1190,40,3,9,29,502

In [7]:
data.head()

,Company,Item,Calories,Calories from\nFat,Total Fat\n(g),Saturated Fat\n(g),Trans Fat\n(g),Cholesterol\n(mg),Sodium \n(mg),Carbs\n(g),Fiber\n(g),Sugars\n(g),Protein\n(g),Weight Watchers\nPnts
0,McDonald’s,Hamburger,250,80,9,3.5,0.5,25,520,31,2,6,12,247.5
1,McDonald’s,Cheeseburger,300,110,12,6,0.5,40,750,33,2,6,15,297
2,McDonald’s,Double Cheeseburger,440,210,23,11,1.5,80,1150,34,2,7,25,433
3,McDonald’s,McDouble,390,170,19,8,1,65,920,33,2,7,22,383
4,McDonald’s,Quarter Pounder® with Cheese,510,230,26,12,1.5,90,1190,40,3,9,29,502

<div class='work_area'>
    <h1>
        Checking for null Values!
        </h1>
    <h3>
        Here we are ensuring the values are complete! 
    </h3>
 </div>

In [8]:
(data.isna().sum() /len(data)) * 100

Company                   0.000000
Item                      0.000000
Calories                  0.172563
Calories from\nFat        5.263158
Total Fat\n(g)            5.004314
Saturated Fat\n(g)        5.004314
Trans Fat\n(g)            5.004314
Cholesterol\n(mg)         0.172563
Sodium \n(mg)             0.172563
Carbs\n(g)                5.004314
Fiber\n(g)                5.004314
Sugars\n(g)               0.172563
Protein\n(g)             11.389129
Weight Watchers\nPnts    54.788611
dtype: float64

In [9]:
data[data.isna().any(axis=1)].head()

,Company,Item,Calories,Calories from\nFat,Total Fat\n(g),Saturated Fat\n(g),Trans Fat\n(g),Cholesterol\n(mg),Sodium \n(mg),Carbs\n(g),Fiber\n(g),Sugars\n(g),Protein\n(g),Weight Watchers\nPnts
64,McDonald’s,Salad Dressings,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
102,McDonald’s,Hamburger Happy Meal,475,NaN,16,5.5 g,0,40,690,62,2,20,22,NaN
103,McDonald’s,4 Piece Chicken McNuggets Happy Meal,395,NaN,17,3.5,0,35,510,41,1,14,19,NaN
104,McDonald’s,6 Piece Chicken McNuggets® Happy Meal,475,NaN,22,4.5,0,50,680,46,2,14,24,NaN
259,McDonald’s,McCafe Coffees – Whole Milk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<div class= 'work_area'>
    <p>
    After looking at most of the null values, I can see some of the null values should actually be repersented by a zero and not a null. Another observation that i've made is the column named Weight watcher points this column is not relevant for our research. We are strictly looking at the nutritional facts for each item so we will replace the nulls to repersent zeros and drop the Weight watcher points.
    </p>
</div>

In [10]:
data.drop(columns= 'Weight Watchers\nPnts',inplace=True)

In [11]:
data.replace({np.NAN: 0}, inplace=True)

# Dropping Duplicates

In [12]:
data.drop_duplicates(inplace=True)

In [13]:
data.head()

,Company,Item,Calories,Calories from\nFat,Total Fat\n(g),Saturated Fat\n(g),Trans Fat\n(g),Cholesterol\n(mg),Sodium \n(mg),Carbs\n(g),Fiber\n(g),Sugars\n(g),Protein\n(g)
0,McDonald’s,Hamburger,250,80,9,3.5,0.5,25,520,31,2,6,12
1,McDonald’s,Cheeseburger,300,110,12,6,0.5,40,750,33,2,6,15
2,McDonald’s,Double Cheeseburger,440,210,23,11,1.5,80,1150,34,2,7,25
3,McDonald’s,McDouble,390,170,19,8,1,65,920,33,2,7,22
4,McDonald’s,Quarter Pounder® with Cheese,510,230,26,12,1.5,90,1190,40,3,9,29

In [14]:
folder_path = 'csv'

if os.path.exists(folder_path):
    data.to_csv(os.path.join(folder_path, 'prepared.csv'))
else:
    os.makedirs(folder_path)
    data.to_csv(os.path.join(folder_path, 'prepared.csv'))